# Visual Studio cache directory
.vs/

# VS Code cache directory
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# CMake build directory
NiflyDLL/build/

# Tests
NiflyDLL/Test/

# Blender backups
*.blend[1-9]
